body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #fff9c4, #ffd54f);
  padding: 20px;
  box-sizing: border-box;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

h1 {
  color: #f57f17;
  margin-bottom: 1rem;
}

.timertext {
  background: linear-gradient(to right, #ffa000, #ffd54f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 {
  color: #ffa000;
  margin-top: 1.5rem;
}

.instructions {
  text-align: left;
}

ol,
ul {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

.egg-types {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.egg-button {
  background-color: #fff;
  border: 2px solid #ffa000;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color:#f57f17
}

.egg-button:hover,
.egg-button.active {
  background-color: #ffa000;
  color: white;
}

.timer {
  font-size: 3rem;
  font-weight: bold;
  color: #f57f17;
  margin: 1rem 0;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

button,
.button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

button:hover,
.button:hover {
  background-color: #45a049;
}

#reset {
  background-color: #f44336;
}

#reset:hover {
  background-color: #d32f2f;
}

#status {
  margin-top: 1rem;
  color: #4caf50;
  font-weight: bold;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  max-width: 250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #fff9c4, #ffd54f);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: #f57f17;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}

.card button {
  background-color: white;
  color: #ff9800;
  border: #ff9800;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #e68900;
  color: #fff;
}